<!DOCTYPE html>
<html>
<head>
<title>MY-BLOG</title>
 
</head>

<body>
	
	<div class="container">
		<section class="intro"></section>
		<div class="boardOuter">
			<div class="board">
				<div class="backward">
					<div class="backwardIn"></div>
				</div>
				<ul class="boardIn"></ul>
				<div class="loadIcon"></div>
				<div class="boardClose"></div>
			</div>
		</div>
	
		<ul class="homeNav">
			<li class="unactive" id="ruby">Ruby笔记</li>
			<li class="unactive" id="rails">Rails笔记</li>
			<li class="unactive" id="linux">Linux笔记</li>
			<li class="unactive" id="php">PHP笔记</li>
			<li class="unactive" id="sport">体育评论</li>
			<li class="unactive" id="thing">杂谈</li>
			<li class="unactive" id="report">转载</li>
		</ul>
	</div>
	<footer>
	</footer>
</body>
</html>